.footer-section {
  width: 100%;
  background: #213053;
  padding: 2em 0;
}

.footer-container {
  padding: 2em 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer-whole-container {
  width: 90%;
  margin: 0 auto;
}

.footer-content {
  margin: 0 50px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  text-align: center;
  font-feature-settings: "liga" off;

  color: #d9dbe1;
}

.footer-content-terms {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-content-terms p {
  margin-right: 20px;
}

.footer-btn {
  width: 130px;
  height: 65px;
  left: 0.5px;
  top: 0.5px;
  border: none;
  background: #f25f46;
  border-radius: 20px;
  font-weight: 500;
  font-size: 17px;
  line-height: 23px;

  color: #ffffff;
  z-index: 2;
}

.footer-btn-wrapper {
  position: relative;
}

.horizontal-line {
  position: absolute;
  left: -540px;
  top: 32px;
  width: 1200px;
  border: 1px solid #ffffff;
  opacity: 0.2;
  z-index: 1;
}

.footer-btn-wrapper:before,
.footer-btn-wrapper:after {
  content: "";
  height: 1px;
  margin: 0 10px;
  vertical-align: super;
  background: #ffffff;
  opacity: 0.2;
  display: inline-block;
}

@media (min-width: 600px) {
  .footer-section {
    width: 100%;
    background: #213053;
    padding: 2em 0;
  }

  .footer-container {
    padding: 2em 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .footer-whole-container {
    width: 100%;
  }

  .footer-content {
    margin: 0 50px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */

    text-align: center;
    font-feature-settings: "liga" off;

    color: #d9dbe1;
  }

  .footer-content-terms {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .footer-content-terms p {
    margin-right: 20px;
  }

  .footer-btn {
    width: 130px;
    height: 65px;
    left: 0.5px;
    top: 0.5px;
    border: none;
    background: #f25f46;
    border-radius: 20px;
    font-weight: 500;
    font-size: 17px;
    line-height: 23px;

    color: #ffffff;
  }

  .footer-btn-wrapper:before,
  .footer-btn-wrapper:after {
    content: "";
    width: 820px;
    height: 1px;
    margin: 0 10px;
    vertical-align: super;
    background: #ffffff;
    opacity: 0.2;
    display: inline-block;
  }
}

@media (min-width: 600px) and (max-width: 990px) {
  .footer-btn-wrapper:before,
  .footer-btn-wrapper:after {
    content: "";
    width: 300px;
    height: 1px;
    margin: 0 10px;
    vertical-align: super;
    background: #ffffff;
    opacity: 0.2;
    display: inline-block;
  }
}

@media (min-width: 990px) and (max-width: 1200px) {
  .footer-btn-wrapper:before,
  .footer-btn-wrapper:after {
    content: "";
    width: 500px;
    height: 1px;
    margin: 0 10px;
    vertical-align: super;
    background: #ffffff;
    opacity: 0.2;
    display: inline-block;
  }
}

@media (min-width: 1200px) and (max-width: 1600px) {
  .footer-btn-wrapper:before,
  .footer-btn-wrapper:after {
    content: "";
    width: 550px;
    height: 1px;
    margin: 0 10px;
    vertical-align: super;
    background: #ffffff;
    opacity: 0.2;
    display: inline-block;
  }
}

@media (min-width: 1600px) and (max-width: 1900px) {
  .footer-btn-wrapper:before,
  .footer-btn-wrapper:after {
    content: "";
    width: 700px;
    height: 1px;
    margin: 0 10px;
    vertical-align: super;
    background: #ffffff;
    opacity: 0.2;
    display: inline-block;
  }
}

@media (min-width: 1920px) {
  .footer-whole-container {
    max-width: 1300px;
    margin: 0 auto;
  }
  .footer-btn-wrapper:before,
  .footer-btn-wrapper:after {
    content: "";
    width: 520px;
    height: 1px;
    margin: 0 10px;
    vertical-align: super;
    background: #ffffff;
    opacity: 0.2;
    display: inline-block;
  }
}
