.unique-section {
  background-color: #529fa7;
  height: 300px;
  width: 100%;
  margin-top: 100px;
  position: relative;
}

.unique-section h2 {
  color: white;
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  text-transform: capitalize;
  text-align: center;
  padding-top: 84px;
}

.hexagon {
  position: relative;
  width: 200px;
  height: 115.47px;
  background-color: #ffffff;
  margin: 57.74px 0;
  margin-top: -50px;
  box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 57.74px solid #ffffff;
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 57.74px solid #ffffff;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.txt {
  text-align: center;
  font-size: 20px;
  text-transform: capitalize;
  color: #213053;
}

.txt-in {
  font-weight: bold;
  font-size: 48px;
}

.achievements-container {
  width: 90%;
  margin: 0 auto;
}

.hexagon-container {
  margin: 4em 0;
}

@media (min-width: 768px) {
  .unique-section {
    background-color: #529fa7;
    height: 300px;
    width: 100%;
    margin-top: 100px;
    position: relative;
  }

  .unique-section h2 {
    color: white;
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
    text-transform: capitalize;
    text-align: center;
    padding-top: 84px;
  }

  .hexagon-container {
    margin-top: -110px;
  }

  .hexagon {
    position: relative;
    width: 200px;
    height: 115.47px;
    background-color: #ffffff;
    margin: 57.74px 0;
    box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
  }

  .hexagon:before,
  .hexagon:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
  }

  .hexagon:before {
    bottom: 100%;
    border-bottom: 57.74px solid #ffffff;
  }

  .hexagon:after {
    top: 100%;
    width: 0;
    border-top: 57.74px solid #ffffff;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .txt {
    text-align: center;
    font-size: 20px;
    text-transform: capitalize;
    color: #213053;
  }

  .txt-in {
    font-weight: bold;
    font-size: 48px;
  }

  .achievements-container {
    width: 70%;
    margin: 0 auto;
  }
}

@media (min-width: 600px) and (max-width: 990px) {
  .unique-section {
    background-color: #529fa7;
    height: 250px;
    width: 100%;
    margin-top: 100px;
    position: relative;
  }

  .unique-section h2 {
    color: white;
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
    text-transform: capitalize;
    text-align: center;
    padding-top: 84px;
  }

  .hexagon {
    position: relative;
    width: 120px;
    height: 69.28px;
    background-color: #fff;
    margin: 34.64px 0;
  }

  .hexagon:before,
  .hexagon:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
  }

  .hexagon:before {
    bottom: 100%;
    border-bottom: 34.64px solid #fff;
  }

  .hexagon:after {
    top: 100%;
    width: 0;
    border-top: 34.64px solid #fff;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }

  .txt {
    text-align: center;
    font-size: 1rem;
    text-transform: capitalize;
    color: #213053;
  }

  .txt-in {
    font-weight: bold;
    font-size: 1.3rem;
  }

  .achievements-container {
    width: 90%;
    margin-bottom: 6em;
  }

  .hexagon-container {
    margin: -4.5em 10px;
  }
}

@media (min-width: 1930px) {
  .achievements-container {
    width: 1300px;
    margin: 0 auto;
  }
}
